<%- include('./partials/header.ejs'); %>
    <section class="dashboard">
        <main>
            <div class="container"><h1>Welcome <%= loggedInUser.role %></h1></div>
        </main>
    </section>
</body>
</html>