<%- include('./partials/header.ejs'); %>
<body>
    <section class="topbar">
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/user">User Details</a></li>
            </ul>
            <ul>
                <li><a href=""><img src="source/images/logout-icon-img.png" alt="logout" class="logout_icon_img"></a></li>
            </ul>
        </nav>
    </section>
    <section>
        <header><h1>Loging System</h1></header>
    </section>
    <section class="dashboard">
        <main>
            <div class="container"><h1>Welcome Admin</h1></div>
        </main>
    </section>
</body>
</html>