<%- include('./partials/header.ejs'); %>
<body>
    <section class="login_section">
        <main class="login_main animate__animated animate__zoomIn">
            <div class="login_main_top">
                <ul>
                    <li><a href="/">Login</a></li>
                    <li><a href="#" class="register_link">Register</a></li>
                </ul>
            </div>
            <div class="login_container">
                <h1>LOGIN</h1>
                <div class="error_message"></div>
                <div class="success_message"></div>
                <form action="">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Email id or phone number" id="username">
                    <p class="error username_error"></p>

                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" id="password">
                    <p class="error password_error"></p>

                    <input type="submit" value="LOGIN">
                </form>
            </div>
        </main>
    </section>
    <script>
        const loginContainer = document.querySelector('.login_main');
        const registerLink = document.querySelector('.register_link');

        registerLink.addEventListener('click', (e)=>{
            e.preventDefault();
            loginContainer.classList.remove('animate__zoomIn');
            loginContainer.classList.add('animate__zoomOut');
            setTimeout(()=>{
                location.href = "/register";
            },500);

        });

    </script>
</body>
</html>